body {
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  background-size: 100%;
  background: linear-gradient(
    165deg,
    /* rgba(179, 229, 252, 1) 0%, */ rgba(179, 229, 252, 1) 50%,
    rgba(77, 195, 250, 1) 100%,
    rgba(144, 202, 249, 1) 50%
  );
}

form {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
